.creation{
  padding: 20px;
  width: 200px;
  height: 100px;
  border: solid;
}

.operation{
  padding: 20px;
  border: solid;
  width: 200px;
  height: 150px;
}


.virement{
  padding: 20px;
  border: solid;
  width: 200px;
  height: 150px;
}

#message{
  padding: 20px;
  width: 200px;
  height: 100px;
  border: solid;
}